#nav a img{
	height: 30px;
}
#myTab{
	margin-top: 10px;
}
#myTabContent{
	height: 200px;
}
#myTabContent #pinpai a:hover{
	background-image: linear-gradient(#5e9bc4, #baa0f7);
}
#mybtn{
	height:60px; 
	margin-top:10px;
	margin-bottom:10px;
}
#left_block{
	margin-bottom:10px;
	background-image:linear-gradient(-90deg,#5e9bc4, #baa0f7);
}
#left_block .wx{
	visibility:hidden;
	margin-top: 20px;
	margin-bottom:7px;
}
#left_block .wx .wxewm{
	border-radius:20px;
}
#left_block span{
	font-size: 20px;
	font-weight: bold;
}
#left_block button{
	margin-top: 13px;
}
#right_block{
	margin-bottom:10px;
	background-image:linear-gradient(-90deg,#5e9bc4, #baa0f7);
}
#right_block .wxc{
	border-radius:20px;
	margin-top:10px;
	margin-bottom:10px;
}
#right_block .font{
	color:white;
	margin-top:20px;
}
#myfont p{
	font-size:16px;
	font-weight:bold;
}
#nav_img{
	margin-bottom: 10px;
}
.font{
	height:20px; 
	line-height:20px; 
	margin-top:5px;
}
.font a{
	text-decoration: none;
}
#ck{
	font-size:16px; 
	font-weight: bold; 
	text-align: center;
}
.gclc{
	margin-bottom: 10px; 
	margin-top: 5px;
}
#foot{
	background-image: linear-gradient(#5e9bc4, #baa0f7);
}
#foot .f_l{
	margin-top:25px;
}
#foot .ul_style{
	list-style: none;
}
#foot .ul_style .f_s{
	font-size:30px; 
	color: white;
}
#foot .ul_style .wei{
	font-weight: bold;
}
